/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

button[mat-button].active-route {
  border-bottom: 2px solid black;
  border-bottom-left-radius: initial;
  border-bottom-right-radius: initial;
}
